<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>login usuario MOD (copy)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-fixed-top navigation-clean-button navbar-light"
        style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;--bs-primary: #ffffff;--bs-primary-rgb: 255,255,255;">
        <div class="container"><button class="btn btn-primary bg-dark border rounded-pill"
                data-bss-hover-animate="rubberBand" type="button">Brand</button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);width: 1500.969px;">
                <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" data-bss-hover-animate="flash"
                        type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown"
                        style="background: rgb(34,34,34);margin: 20px;border-color: var(--bs-body-color);padding: 0px 60px;height: 25px;width: 170px;">CATEGORÍA&nbsp;</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="../Coche_Ocasion/index.html">COCHES DE OCASION</a>
                        <a class="dropdown-item" href="../Coche_Kilometro_0/index.html">COCHES KILOMETRO
                            0</a><a class="dropdown-item" href="../Coche_Renting/index.html">RENTING</a>
                    </div>
                </div><input type="text" class="form-control dropdown-search-input" placeholder="Buscar producto..."
                    style="width: 340px;height: 0px;margin: 0px 0px 0px;padding: 15px;"><button
                    class="btn btn-primary border rounded-pill" data-bss-hover-animate="rubberBand" type="button"
                    style="padding: 0px 0px;width: 90px;height: 35px;margin: 10px;background: rgb(255,255,255);color: rgb(0,0,0);border-style: hidden;">Buscar</button>
            </div>
            <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" data-bss-hover-animate="flash"
                    type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown"
                    style="background: rgb(34,34,34);margin: 20px;border-color: var(--bs-body-color);padding: 0px 60px;height: 25px;width: 170px;">ACCEDER</button>
                <div class="dropdown-menu"><a class="dropdown-item" href="../login_usuario_MOD/index.php">LOGIN</a><a
                        class="dropdown-item" href="../registro_MOD/index.html">REGISTRAR</a></div>
            </div>
            <a href="../carrito_MOD/index.html" class="btn btn-primary pull-right" data-bss-disabled-mobile="true"
                data-bss-hover-animate="swing"
                style="background: var(--bs-body-color); border-color: var(--bs-secondary-color);">
                <i class="fa fa-shopping-cart" data-bss-hover-animate="swing" style="font-size: 29px;"></i>
            </a>
        </div>
    </nav>
    <section class="register-photo" style="background-color: transparent;">
        <div class="form-container" style="margin-top: 40px;">
            <div class="image-holder"
                style="background: url(&quot;assets/img/IINET-DOSAGE-1.jpg&quot;) left / cover no-repeat;"></div>
            <form method="post" action="afterRegister.html" style="height: 525px;">
                <h2 class="text-center"><strong>Crea una cuenta</strong>.</h2>
                <div class="form-group mb-3"><input class="form-control" type="email" name="email"
                        placeholder="Correo"><input class="form-control" type="email" name="email"
                        placeholder="Correo"><input class="form-control" type="email" name="email"
                        placeholder="Correo"><input class="form-control" type="email" name="email" placeholder="Correo">
                </div>
                <script>
                    // Submit button made with javascript
                    function changePassword() {
                        var password = document.querySelector("#password").value;
                        var confirmPassword = document.querySelector("#confirmPassword").value;

                        if (password.length >= 8) {
                            if (password === confirmPassword) {
                                var btn = $('#submitButton').removeAttr("disabled");
                                document.querySelector('#passwordsError').style.display = 'none';
                                console.log("enabling")
                            }
                            else {
                                var btn = $('#submitButton').attr("disabled", "true");
                                document.querySelector('#passwordsError').style.display = 'block';
                                document.querySelector('#errorMessage').innerHTML = 'The passwords do not match';
                                console.log("disabling")
                            }
                        }
                        else {
                            var btn = $('#submitButton').attr("disabled", "true");
                            document.querySelector('#passwordsError').style.display = 'block';
                            document.querySelector('#errorMessage').innerHTML = 'The password must be at least 8 characters long';
                            console.log("disabling")
                        }
                    }
                </script>
                <div class="form-group mb-3"><input class="form-control" type="password" id="password" name="password"
                        placeholder="Contraseña" onchange="changePassword()"></div>
                <div class="form-group mb-3"><input class="form-control" type="password" id="confirmPassword"
                        name="password-repeat" placeholder="Repetir contraseña" onchange="changePassword()"></div>
                <div id="passwordsError" style="display: none;margin-bottom: 16.5px;"><span id="errorMessage"
                        class="text-danger" style="font-size:13px;"></span></div>
                <div class="form-group mb-3">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input"
                                type="checkbox" data-bss-hover-animate="rubberBand">Estoy de acuerdo con los términos y
                            condiciones.</label></div>
                </div>
                <div class="form-group mb-3"><button class="btn btn-primary d-block w-100"
                        data-bss-hover-animate="pulse" id="submitButton" type="submit"
                        style="color: rgb(255,255,255);background-color: #00b5a8;">Crear cuenta</button></div><a
                    class="already" href="login.html">¿Ya tienes una cuenta? Inicia sesión aquí</a>
            </form>
        </div>
    </section>
    <section class="clean-hero">
        <div style="height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;">
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>